name: Conan Build

on:
  workflow_call:
    inputs:
      platform:
        required: false
        default: 'ubuntu-22.04'
        type: string
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: string
      malloc-impl:
        required: true
        type: string
      prerelease:
        required: true
        type: string
      testing:
        required: false
        type: string
        default: 'False'
  workflow_dispatch:
    inputs:
      platform:
        required: true
        type: choice
        options:
          - ubuntu-22.04
          - ubuntu-20.04
          - macos-13
          - macos-12
        default: 'ubuntu-22.04'
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
      malloc-impl:
        description: 'Allocation Library'
        required: true
        type: choice
        options:
          - libc
          - tcmalloc
          - jemalloc
      prerelease:
        description: 'Fault Instrumentation'
        required: false
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'False'
      testing:
        description: 'Build and Run'
        required: true
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'True'

jobs:
  BuildIOMgrDeps:
    runs-on: ${{ inputs.platform }}
    steps:
    - name: Retrieve Code
      uses: actions/checkout@v3
      with:
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'True' }}

    - name: Retrieve Recipe
      uses: actions/checkout@v3
      with:
        repository: eBay/IOManager
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'False' }}

    - name: Load IOMgr Cache
      id: restore-cache
      uses: eBay/sisl/.github/actions/load_conan@stable/v8.x
      with:
        testing: ${{ inputs.testing }}
        key_prefix: IOMgrDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}

    - name: Retrieve Dependencies
      uses: actions/checkout@v3
      with:
        repository: eBay/sisl
        path: import/sisl
        ref: stable/v8.x
      if: ${{ inputs.testing == 'True' || steps.restore-cache-iomgr.outputs.cache-hit != 'true' }}

    - name: Load Sisl Cache
      id: restore-sisl-cache
      uses: eBay/sisl/.github/actions/load_conan@stable/v8.x
      with:
        testing: 'False'
        path: import/sisl
        key_prefix: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}
        fail_on_cache_miss: true
      if: ${{ inputs.testing == 'True' || steps.restore-cache-iomgr.outputs.cache-hit != 'true' }}

    - name: Setup Conan
      uses: eBay/sisl/.github/actions/setup_conan@stable/v8.x
      with:
        platform: ${{ inputs.platform }}
      if: ${{ inputs.testing == 'True' || steps.restore-cache-sisl.outputs.cache-hit != 'true' }}

    - name: Export Recipes
      run: |
        sudo apt-get install -y python3-pyelftools libaio-dev
        python -m pip install pyelftools
        conan export import/sisl oss/master
        conan export 3rd_party/dpdk
        conan export 3rd_party/fio
        conan export 3rd_party/grpc_internal
        conan export 3rd_party/spdk
        cached_pkgs=$(ls -1d ~/.conan/data/*/*/*/*/package | sed 's,.*data/,,' | cut -d'/' -f1,2 | paste -sd',' - -)
        echo "::info:: Pre-cached: ${cached_pkgs}"
      if: ${{ inputs.testing == 'True' || steps.restore-cache-iomgr.outputs.cache-hit != 'true' }}

    - name: Build Cache
      id: build_cache
      run: |
        conan install \
            -o prerelease=${{ inputs.prerelease }} \
            -o malloc_impl=${{ inputs.malloc-impl }} \
            -o testing=False \
            -s build_type=${{ inputs.build-type }} \
            --build missing \
            import/sisl
        conan install \
            -o sisl:prerelease=${{ inputs.prerelease }} \
            -o sisl:malloc_impl=${{ inputs.malloc-impl }} \
            -o sisl:testing=False \
            -o testing=off \
            -s build_type=${{ inputs.build-type }} \
            --build missing \
            .
      if: ${{ steps.restore-cache-iomgr.outputs.cache-hit != 'true' }}

    - name: Save Conan Cache
      uses: eBay/sisl/.github/actions/store_conan@stable/v8.x
      with:
        key_prefix: IOMgrDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}
      if: ${{ github.event_name != 'pull_request' && steps.restore-cache-iomgr.outputs.cache-hit != 'true' }}

    - name: Reload Sisl Cache
      uses: eBay/sisl/.github/actions/load_conan@stable/v8.x
      with:
        testing: 'False'
        path: import/sisl
        key_prefix: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}
        fail_on_cache_miss: true
      if: ${{ inputs.testing == 'True' && github.event_name != 'pull_request' && steps.restore-cache-iomgr.outputs.cache-hit != 'true' }}

    - name: Create and test Package
      run: |
        conan create \
            -o sisl:prerelease=${{ inputs.prerelease }} \
            -o sisl:malloc_impl=${{ inputs.malloc-impl }} \
            -o sisl:testing=False \
            -o iomgr:testing=off \
            -s build_type=${{ inputs.build-type }} \
            --build missing \
            .
      if: ${{ inputs.testing == 'True' }}
