name: Conan Build

on:
  workflow_call:
    inputs:
      platform:
        required: false
        default: 'ubuntu-24.04'
        type: string
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: string
      malloc-impl:
        required: true
        type: string
      prerelease:
        required: true
        type: string
      tooling:
        required: false
        type: string
        default: 'None'
      testing:
        required: false
        type: string
        default: 'False'
  workflow_dispatch:
    inputs:
      platform:
        required: true
        type: choice
        options:
          - ubuntu-24.04
        default: 'ubuntu-24.04'
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
      malloc-impl:
        description: 'Allocation Library'
        required: true
        type: choice
        options:
          - libc
          - tcmalloc
          - jemalloc
      prerelease:
        description: 'Fault Instrumentation'
        required: false
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'False'
      tooling:
        required: false
        type: choice
          - 'Sanitize'
          - 'Coverage'
          - 'None'
        default: 'None'
      testing:
        description: 'Build and Run'
        required: true
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'True'

jobs:
  BuildIOMgrDeps:
    runs-on: ${{ inputs.platform }}
    steps:
    - name: Retrieve Code
      uses: actions/checkout@main
      with:
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'True' }}

    - name: Retrieve Recipe
      uses: actions/checkout@main
      with:
        repository: eBay/IOManager
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'False' }}

    - name: Setup Conan
      uses: ebay/sisl/.github/actions/setup_conan2@master
      with:
        platform: ${{ inputs.platform }}
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Load IOMgr Cache
      id: restore-cache
      uses: eBay/sisl/.github/actions/load_conan2@master
      with:
        testing: ${{ inputs.testing }}
        key_prefix: IOMgrDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}

    - name: Retrieve Dependencies
      uses: actions/checkout@main
      with:
        repository: eBay/sisl
        path: import/sisl
        ref: master
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Load Sisl Cache
      uses: eBay/sisl/.github/actions/load_conan2@master
      with:
        testing: 'False'
        path: import/sisl
        key_prefix: SislDeps13-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}
        fail_on_cache_miss: true
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Prepare Recipes
      run: |
        conan export --user oss --channel master import/sisl
        ./prepare_v2.sh
      if: ${{ inputs.testing == 'True' || steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Build Cache
      run: |
        conan install \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o iomgr/*:testing=off \
            -s:h build_type=${{ inputs.build-type }} \
            -c tools.build:skip_test=True \
            --format=json \
            --build missing \
            . > ~/build.json
        conan list --graph ~/build.json --graph-binaries=build --format=json > ~/pkglist.json
      if: ${{ steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Save Conan Cache
      uses: eBay/sisl/.github/actions/store_conan2@master
      with:
        key_prefix: IOMgrDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}
      if: ${{ github.event_name != 'pull_request' && steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Reload Sisl Cache
      uses: eBay/sisl/.github/actions/load_conan2@master
      with:
        testing: 'False'
        path: import/sisl
        key_prefix: SislDeps13-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}
        fail_on_cache_miss: true
      if: ${{ inputs.testing == 'True' && github.event_name != 'pull_request' && steps.restore-cache.outputs.cache-hit != 'true' }}

    - name: Create and Test Package
      run: |
        sanitize=$([[ "${{ inputs.tooling }}" == "Sanitize" ]] && echo "True" || echo "False")
        conan create \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o iomgr/*:testing='epoll_mode' \
            -o iomgr/*:sanitize=${sanitize} \
            -s:h build_type=${{ inputs.build-type }} \
            --build missing \
            .
      if: ${{ inputs.testing == 'True' && inputs.tooling != 'Coverage' }}

    - name: Code Coverage Run
      run: |
        conan build \
            -o sisl/*:malloc_impl=${{ inputs.malloc-impl }} \
            -o iomgr/*:coverage=True \
            -o iomgr/*:testing=epoll_mode \
            -s:h build_type=${{ inputs.build-type }} \
            --build missing \
            .
      if: ${{ inputs.testing == 'True' && inputs.tooling == 'Coverage' }}

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
      if: ${{ inputs.testing == 'True' && inputs.tooling == 'Coverage' }}
